@charset "utf-8";





.motto-tit {
  background-color: #e5e5e5;
  /* padding: 10px; */
}

.motto-list {
  /* margin: 0 10%; */
  /* padding: 5px; */
  background-color: rgb(221, 221, 221);
  /* width: 100%; */
}



.Janru1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.item_ja {
  border-right: 1px solid;
  background-color: rgb(233, 233, 233);
  padding: 0 10px 0 10px;
}

.label_ja1 {
  font-size: 30px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
}
.label_ja1 p{
  margin: 10px;
  background-color: antiquewhite
}

.waku1 {
  font-size: 30px;
  display: flex;
}

.itirannja {
  background-color: rgb(255, 255, 255);
}

.tag {
  background-color: #e5e5e5;
    /* margin: 0 auto; */
    padding: 0px;
    margin-right: 50px;
    padding: 10px;
}
.tag:hover{
  background-color: coral;
  color: white;
}

.content_ja {
  background-color: rgb(131, 97, 104);
  padding: 0 100px 0 100px;
  margin-top: 20px;

}

.motto-list li {
  list-style: none;
  /* margin: 5px 0px; */
  /* width: 100%; */
}

.motto-frame {
  background-color: rgb(111, 188, 255);
  padding: 1%;
}



.content_ja {
  display: flex;
  justify-content: space-between;
}

.container-item {
  display: flex;
  /* background-color: rgb(205, 243, 144); */
  /* padding: 0px 10px; */
  width: 100%;
}

.container-item-img {
  background-color: white;
  /* width: 33%; */
  width: 128px;
  height: 70px;
}

.container-item-img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.container-item-date {
  width: 70%;
  margin: 0px 0px 0px 5px;
}











/* アイコン　ユーザ名 */
.List-user {
  background-color: #b5b5d1;
  width: 50%;
  /* margin: 3px 10px; */
  border-radius: 5px;
  display: flex;
}

.List-user img {
  max-width: 100%;
  max-height: 100%;
}

.List-suji {
  text-align: center;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.List-user-name {
  width: 80%;
  text-align: left;
  margin: auto;
  font-size: 5px;
}


.List-user-icon {
  width: 20%;
  padding: 5px;
}

.tt2 {
  width: 90%;
  margin: auto 0;
}


/* タイトル */
.List-title {
  /* background-color: rgb(224, 224, 224); */
  height: 50%;
  /* font-size: 20px; */
  text-align: left;
  width: 100%;
  font-size: 14px;
}


/* 数 */
.List-come {
  display: flex;
  /* background-color: rgb(221, 221, 221); */
  width: 100%;
  /* margin: 3px 10px; */
  border-radius: 10px;
  font-size: 5px;
}

.List-sita {
  display: flex;
  height: 50%;
  /* display: none; */
}

.janruuuuu {
  background-color: #62626a;
  color: white;
  /* border-radius: 0px 10px 10px 0px; */
  /* width: 130px; */
  /* margin: 0px 30px 0px 15px; */
  text-align: center;
}

.timeeeeee {
  /* width: 30%; */
}

.List-up1 {
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

.List-time {
  display: flex;
  /* text-align: left; */
  /* padding: 0px 10px; */
  display: none;
}

.List_ja {
  padding: 10px 0px;

}

.crtl-box {
  background-color: #ffffff;
  padding: 5px;
}