@charset "utf-8";





.sch-box{
    background-color: rgb(255, 175, 175);
    padding: 10px;
    margin: auto;
}
.search_container{
    box-sizing: border-box;
  }
  .search_container input[type="text"]{
    background: #ccddf5;
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    border: none;
    background: #3879D9;
    color: #fff;
    outline : none;
  }
  .search_container ::-webkit-input-placeholder {
    color: #3879D9;
  }
