@charset "utf-8";


/* **上*********************************************************************/
.search-top {
    background-color: brown;
    display: flex;
}

.sch-nanka {
    background-color: rgb(182, 164, 164);
}




/* ***中********************************************************************/
.search-cent {
    background-color: rgb(236, 220, 190);
    display: flex;
    padding: 5px;
    margin-top: 40px;
}


.bmh {
    padding: 10px;
    margin: 0 20px;
    background-color: rgb(216, 195, 236);
}

/* form */
.search_container {
    display: flex;
}


.tks {
    width: 80%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tks li {
    display: flex;
    width: 48%;
    margin: 14px 8px;
    border-radius: 8px;
    background: #0D47A1;
    padding: 6px;
    color: #FFF;
    text-decoration: none;
}


.userrr1 img{

    max-width: 100%;
    object-fit: cover;
}
.userrr1{
    background-color: rgb(240, 145, 164);
    padding: 0px 10px 10px 10px;
    width: 20%;
}
.userrr2{
    background-color: rgb(202, 202, 147);
    width: 80%;
}
.userrr3{
    background-color: coral;
    width: 20%;
}

.desain{
    background-color: rgb(124, 165, 124);
    width: 80%;
}

.nfx{
    width: 100%;
    display: flex;
}

.htre{
    font-size: 20px;
}


.text-overflow{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
