@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=小杉+丸& display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/*スクロールバー色*/
::-webkit-scrollbar-thumb {
  background: #ff6ab0;
}

/*今のところつかっていない*/
.wrapper {
  width: 95%; /* コンテンツの横幅 */
  margin: 0px auto; /* 中央寄せ */
}

/*枠組み*/
body {
  display: flex;
  font-family: "M PLUS 1p";
}

/***************header       「右」　　　　******************************************************************/
.header {
  background-color: #008037;
  width: 8%;
  min-height: 100vh;
  position: fixed;
  left: 0px;
  z-index: 1;
  padding: 5% 0 0 0;
}

header {
  background-color: #008037;
  width: 10%;
  min-height: 100vh;
  position: fixed;
  left: 0px;
  z-index: 1;
}


/*ロゴデザイン*/
.tit {
  text-align: center;
  margin: auto;
  padding: 10px 0 0 0;
}

.rogo1 {
  max-width: 60%;
}

.rogo2 {
  max-width: 100%;
}

/*左側ボタン*/
.btn1 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 0.3em 0.3em;
  color: #ffffff;
  background-color: #008037;
  border-bottom: #ffffff 1px solid;
}

#d {
  margin-top: 10%;
  border-top: #ffffff 1px solid;
}

.btn1 button {
  width: 100%;
  padding: 1em 1em;
}


.userr-iconnn{
  width: 40%;
  margin: auto;
}



/***************main       「中央」　　　　***************************************************************/
main {
  background-color: rgb(223, 223, 223);
  width: 100%;
  padding: 0 0 0 8%;
}


.kari{
  /* margin: 2%; */
}



/*今の画面　上の*/
.head {
  text-align: center;
  background-color: #ababab;
  color: #ffffff;
  height: 40px;
  padding: 0.5em 0.5em;
}

/*.TimeLine{
    background-color: bisque;
    margin: 5% 5% 1% 5%;

}
*/
/*投稿ボタン*/
.toukou button {
  position: fixed;
  right: 355px;
  bottom: 20px;
  text-align: center;
  background: #008037;
  color: #ffffff;
  padding: 0.5em 0.5em;
  border: black 2px solid;
  text-decoration: none;
  font-size: 1.5em;
  z-index: 1;
}

.moto {
  display: flex;
}

































/***************真ん中************************************/
.center {

/* background-color: rgb(255, 255, 255); */

background-image: url('../img/white_00007.jpg');

background-repeat: initial;

background-size: contain;

width: 75%;

min-height: 100vh;
}

/***************コンテンツ       「中身」　　　　**************************************/
.TimeLine {
  margin: 1% 1%;
  padding: 1%;
  border-radius: 10px;
  /* background-color: #5fc360; */
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgb(0 0 0 / 15%);
  transition: 0.2s ;

 
}
.TimeLine:hover{
  /* background-color: #666666; */
  background-color: #ff835d;
  font-weight: bold;
  

}

.balloon1-left:hover +.TimeLine{
  
}

.flec {
  display: flex;
}

/*
.Frame1,.Frame2,.Frame3{

}
*/
.Frame1 {
  padding: 0.5%;
  background-color: blue;
}

.Frame2 {
  width: 10%;
  text-align: center;
}

.Frame2 img {
  max-width: 50%;
}

.Frame3 {
  background-color: #ffffff;
  width: 90%;
}

.douga .content1 img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.Content {
  display: flex;
  margin: 1% 0%;
}

.content1 {
  position: relative;
  width: 87%;
}
.cent-1 {
  margin: 0 3%;
  /* background-color: rgb(177, 255, 255); */
}

.douga {
/*  background-color: #ececec;

 
  border-radius: 10px; */
  /* border-right: #d1d1d1 2px solid;
  border-radius: 10px 0 0 10px; */
  background-color: white;
  padding: 2%;
  width: 70%;
}

iframe {
  max-width: 100%;
  padding: 10px;
}

.coment {
  /* background-color: #ececec;
   */
   background-color: white;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
}

.user {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 15px;
  height: 90%;
  font-size: 24px;
}

.balloon1-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background-color: #d1d1d1e0;
  border-radius: 5px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 5%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #d1d1d1e0;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

.balloon1-right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: rgb(219, 219, 219);
  border-radius: 10px;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 50px solid rgb(219, 219, 219);
}

.balloon1-right p {
  margin: 0;
  padding: 0;
}

.content2 {
  font-size: 22px;
  display: flex;
}

.content3 {
  /* background-color: #ececec; */
  width: 30%;
  margin: 0 0px 0 10px;
  border-radius: 0 10px 10px 0;
}


.samneiru img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.come{
  height: 33.3%;
  padding: 35px;
  background-color: white;
}
.iine {
  font-size: 16px;
  color: #ff6ab0;
}
.ine span{
  color: #ff6ab0;
  font-size: 28px;
  font-weight: bold;
}
.iine2 {
  font-size: 16px;
  color: #00a149;
}
.kyou span{
  color: #00a149;
  font-size: 28px;
  font-weight: bold;
}
.iine3 {
  font-size: 16px;
  color: #ff0000;
  font-weight: bold;
}
.jaf{
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
}

.rank{
  transition: 0.2s;
}

.rankiine{
  font-size: 16px;
  color: #ff6ab0;
}
.rankiine2{
  font-size: 16px;
  color: #00a149;
}


.rank:hover{
  background-color: #ff4d17;
}

/* 
.iine:nth-child(2){
  color: #00a149;
} */

.clickshow {
  width: 100%;
}

.con23 {
  display: flex;
}

/*.a{
    position: absolute;
    max-width: 100%;
    display:block;
}



// 仮
.a:hover{
    display: none;
}
.b{
position: absolute;
display: block;
}

.b:hover{

}


*/



.text-overflow{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.preview{
  
}























/***************右側       「右」　　　　**************************************/
.side {
  background-color: rgb(225 225 225);
  width: 25%;
}

/*おすすめユーザー*/
.light1 {
  text-align: center;
  padding: 5%;
  margin: 5%;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  height: 280px;
  border-radius: 15px 15px 0px 0px;
}

/*通知*/
.light2 {
  text-align: center;
  padding: 10%;
  margin: 5%;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  height: 600px;
  border-radius: 15px;
  overflow-y: scroll;
}

.tuiti {
  text-align: center;
  padding: 10%;
  margin: 5%;
  background-color: #ffffff;
  color: #b73300;
}

.osusu {
  list-style: none;
  margin-top: 10px;
}

.osusu li {
  background-color: #00a149;
  height: 50px;
  margin: 5px;
}

.foot0 {
  position: relative;
  display: flex;
  /* background-image: url(../img/backfoot1.png); */
  background-color: #546154;
  background-size: 90%;
  background-repeat: initial;
  color: #eee;
  padding: 20px;
  margin-top: 0px;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .foot0 {
    display: block;
  }
}
.heading {
  text-align: center;
}

.foot1 p {
  font-size: 15px;
  text-decoration: underline;
}

.foot1 p a {
  color: #eee;
}

.foot2 p {
  font-size: 15px;
  text-decoration: underline;
}

.foot4 p {
  font-size: 15px;
}

.foot2 p a {
  color: #eee;
}

.ka {
  color: #262129;
}

.foot1,
.foot2,
.foot3,
.foot4 {
  width: 25%;
  padding: 30px;
  margin: 10px;
  list-style: none;
}

@media screen and (max-width: 700px) {
  .foot1,
.foot2,
.foot3,
.foot4 {
    width: 100%;
    margin: auto;
  }
}
.foot1 a,
.foot2 a,
.foot3 a,
.foot4 a {
  color: rgb(135, 135, 172);
}

/* フッター */
#lasrrt {
  margin-top: 0px;
  padding: 10px 15px;
  background-color: rgb(59, 66, 63);
  color: #eee;
  margin-top: 0.0001px;
  font-size: 8px;
  text-align: center;
  color: #eee;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  left: 11%;
  height: 50px;
  width: 50px;
  color: #FFF;
  font-size: 32px;
  background-color: #aebe67;
  border: none;
  border-radius: 15%;
  outline: none;
  transform: rotate(-180deg);
  opacity: 0;
  transition-duration: 0.5s;
  z-index: 1;
} /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */





.janru{
  width: 100%;
  margin-top: 10px;
  /* background-color: rgb(233, 213, 252); */
  /* flex-wrap: wrap; */
}

ul {
  list-style: none;
  padding: 0;
  /* float: left; */
}

.Tabs {
  display: flex;
  /* flex-wrap: wrap; */
}
.Tabs li{
  /* float:left; */
}

.Tabs-tab {
  background: #e5e5e5;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
  flex-basis: 1px;
  flex-grow: 1;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  position: relative;
  text-align: center;
  /* width: 10%; */
}

.Tabs-tab:hover{
  background-color: #ff7519;
  color: white;
}

.fjg{
  /* position: fixed; */
  /* z-index: 9999; */
  /* top: 0; */
}



#g-nav2{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:0;
  left: -120%;
  width:25%;
  height: 100vh;/*ナビの高さ*/
  background:rgb(80, 97, 77);
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav2.panelactive{
  left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav2.panelactive #g-nav2-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav2 ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav2 li{
list-style: none;
  text-align: center;
}

#g-nav2 li a{color: #fff;margin-bottom: 10px;border: 5px solid;text-decoration: none;padding:10px;display: block;text-transform: uppercase;letter-spacing: 0.1em;font-weight: bold;}

/*========= ボタンのためのCSS ===============*/
.openbtn{position:fixed;z-index: 9999;/*ボタンを最前面に*/top: 10px;left: 25px;cursor: pointer;width: 4%;height: 7.5%;background-color: aliceblue;}

/*×に変化*/	
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px;	
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}