<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- コピペ111 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>卒業テスト</title>
    <script src="js/jquery-3.6.1.min.js"></script>
    <link rel="icon" href="img/ファビコン/favicon.ico">
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" th:href="@{css/style.css}" />


    <link rel="stylesheet" th:href="@{css/mypage.css}" />
    <link rel="stylesheet" th:href="@{css/videoLyout.css}" />
    

    <link rel="stylesheet" th:href="@{reset/ress.min.css}" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <!-- /111 -->
</head>

<body>

    <header th:replace="~{commons/layout :: header}"></header>


    <main>


        <!-- <div class="head">
            <p>Echo</p>
        </div> -->
        <div class="moto">
            <div class="center">

                <div class="head">
                    <p>Echo</p>
                </div>
                <!-- タイトル -->

                <div class="mypage-back">
                    user_name
                </div>

                <div class="search-up">
                    <h3>Follow</h3>
                </div>

                <div class="search-dwon">
                    <div th:each="obj:${FollowList}">
                        <p th:text="${obj.icon}"></p>
                        <p th:text="${obj.user_name}"></p>
                        <p th:text="${obj.introduction}"></p>
                    </div>
                </div>

            </div>

            <!--通知エリア（右） -->
            
            <div class="side" th:replace="~{commons/layout :: side}"></div>
            
            <!-- /*通知エリア*/ -->
        </div>


        <div class="foot0">

            <div class="foot1">
                <h6 class="heading">top</h6>
                <p><a href="">このサイトについて[...]</a></p>
                <p><a href="">サポートトップ</a></p>
                <p><a href="">修正のご案内</a></p>
                <p><a href="">Echoアカウント</a></p>
                <p><a href="">よくあるご質問</a></p>
            </div>


            <div class="foot2">
                <h6 class="heading">Next</h6>
                <p><a href="">会社概要</a></p>
                <p><a href="">経営方針</a></p>
                <p><a href="">業務・財務情報</a></p>
                <p><a href="">IRライブラリ</a></p>
                <p><a href="">個人投資家の皆様へ</a></p>
                <p></p>
                <a href="#">At massa in sed tortor sit amet</a>
            </div>

            <div class="foot4">
                <h6 class="heading">会社概要</h6>
                <p>株式会社YuzawaIndustry</p>
                <p>東証プライム市場</p>
                <p>設立：1997年6月25日</p>
                <p>資本金：99,611百万円</p>
                <p>従業員数：5名(連結、2022年12月10日現在)</p>
                <p>〒950-0901 新潟県新潟市中央区弁天２丁目</p>
            </div>

        </div>




        <footer>
            <p id="lasrrt">Copyright © 2023 -- 一般社団法人阿部情報大臣湯沢支部 All Rights Reserved </p>
        </footer>









        <!-- <button class="modal__button create-sa" id="open-modal">投稿</button> -->
        <button id="scroll-to-top-btn">↑</button>

    </main>


    <script src="js/pop.js"></script>
    <script src="js/scroll.js"></script>
</body>

</html>