<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commons/layout :: cssjs}"></th:block>

    <link rel="stylesheet" th:href="@{/css/mypage.css}" media="screen and (min-width: 767px)">
    <link rel="stylesheet" th:href="@{/css/mobile/m-mypage.css}" media="screen and (max-width: 768px)">

    <link rel="stylesheet" th:href="@{/css/videoLyout.css}" media="screen and (min-width: 767px)">
    <link rel="stylesheet" th:href="@{/css/mobile/m-videoLyout.css}" media="screen and (max-width: 768px)">

    <link rel="stylesheet" th:href="@{/css/followerList.css}" media="screen and (min-width: 767px)">
    <link rel="stylesheet" th:href="@{/css/mobile/m-followerList.css}" media="screen and (max-width: 768px)">

</head>

<body>
    <!-- pc左バー 　　　＆スマホ上ヘッド＆　　PC版popup内容　　-->
    <header th:replace="~{commons/layout :: header}"></header>
    <main>
        <div class="moto">
            <div class="center">

                <!-- PC上ヘッダー 　＆スマホ下フッド＆　　スマホ版popup内容　　-->
                <th:block th:replace="~{commons/layout :: humber-nemu}"></th:block>

                <!-- 中央 -->
                <div class="kari cent-1">

                    <div id="tabs" class="follow-tab">
                        <ul>
                            <li>Follow</li>
                            <li>Follower</li>
                        </ul>
                        <div>
                            <div th:each="obj:${FollowList}">
                                <th:block th:if="${obj.check_follow}!='-1'">
                                    <div class="list">

                                        <div class="fl-img">
                                            <img th:src="${obj.icon}">
                                        </div>

                                        <div class="fl-user user">
                                            <div>
                                                <p id="name" th:text="${obj.user_name}"></p>
                                            </div>
                                            <div>
                                                <p th:text="${obj.introduction}"></p>
                                            </div>

                                        </div>

                                        <div class="fl-btn">
                                            <button th:class="follow-btn" th:id="${obj.user_id}" th:name="${obj.check_follow}"
                                                th:value="${obj.user_id}" onclick="follow(this)">
                                                <th:block th:if="${obj.check_follow}=='0'">
                                                    フォロー
                                                </th:block>
                                                <th:block th:if="${obj.check_follow}=='1'">
                                                    フォロー中
                                                </th:block>
                                            </button>
                                            <input type="hidden" th:id="${obj.user_id} + h"
                                                th:value="${obj.check_follow}">
                                        </div>

                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div>
                            <div th:each="obj:${FollowerList}">
                                <th:block th:if="${obj.check_follow}!='-1'">
                                    <div class="list">

                                        <div class="fl-img">
                                            <img th:src="${obj.icon}">
                                        </div>

                                        <div class="fl-user user">
                                            <div>
                                                <p id="name" th:text="${obj.user_name}"></p>
                                            </div>
                                            <div>
                                                <p th:text="${obj.introduction}"></p>
                                            </div>

                                        </div>

                                        <div class="fl-btn">
                                            <button th:class="follower-btn" th:id="${obj.user_id}" th:name="${obj.check_follow}"
                                                th:value="${obj.user_id}" onclick="follow(this)">
                                                <th:block th:if="${obj.check_follow}=='0'">
                                                    フォロー
                                                </th:block>
                                                <th:block th:if="${obj.check_follow}=='1'">
                                                    フォロー中
                                                </th:block>
                                            </button>
                                            <input type="hidden" th:id="${obj.user_id} + h"
                                                th:value="${obj.check_follow}">
                                        </div>

                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--通知エリア（右） -->
            <div class="side" th:replace="~{commons/layout :: side}"></div>

        </div>
        <footer>
            <p id="lasrrt">Copyright © 2023 -- 一般社団法人阿部情報大臣湯沢支部 All Rights Reserved </p>
        </footer>
    </main>

    <script th:src="@{/js/hum.js}"></script>
    <script src="js/pop.js"></script>
    <script src="js/scroll.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/jquery.tab.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            tabify('#tabs');
        });

        function follow(event) {
            let url = 'insertfollow';
            let user_id = event.value;
            let hidden = document.getElementById(user_id + 'h');
            let flag = hidden.value;

            let btn = "#" + user_id + "." + event.getAttribute("class");
            //console.log(btn);
            let button = document.querySelector(btn);
            console.log(button);
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    user_id: user_id,
                    check_follow: flag
                },
                success: function (result) {
                    if (flag == 0) {
                        // $(btnClass).css({
                        //     "background-color": "black"
                        // })
                        button.innerHTML = "フォロー中";
                        hidden.value = 1;
                    } else {
                        // $(btnClass).css({
                        //     "background-color": "red"
                        // })
                        console.log("success");
                        button.innerHTML = "フォロー";
                        hidden.value = 0;
                    }
                }
            });
        }

    </script>
</body>

</html>