<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commons/layout :: cssjs}"></th:block>

    <link rel="stylesheet" th:href="@{/css/home.css}" media="screen and (min-width: 767px)">
    <link rel="stylesheet" th:href="@{/css/mobile/m-home.css}" media="screen and (max-width: 768px)">
</head>

<body>
    <div th:replace="~{commons/layout :: header}"></div>

    <main>
        <div class="moto">
            <div class="center">


                <th:block th:replace="~{commons/layout :: humber-nemu}"></th:block>

                <!--
                    画像URLは後で実装 12/9
                -->

                <div class="cent-1" th:unless="${#lists.isEmpty(timeline)}">
                    <div th:each="obj:${timeline}" class="TimeLine">
                        <div class="flec">

                            <!-- ユーザのアイコン画像 -->
                            <div class="Frame2">
                                <button class="clickshow"
                                    th:attr="onClick='location.href=\' '+ @{/mypage?user_id={user_id} (user_id=${obj.user_id}) } + '\''">
                                    <img th:src="${obj.icon}" class="rogo2">
                                </button>
                                <p th:text="${obj.follower_name}"></p>
                            </div>


                            <div class="Frame3 balloon1-left">
                                <!-- <button type="button" class="clickshow" onclick="buttonClick()"> -->
                                <button class="clickshow"
                                    th:attr="onClick='location.href=\''+ @{/Hiroba/RessDetail/{url}?user_id={user_id}&response_id={response_id} (url=${obj.url},user_id=${obj.user_id},response_id=${obj.response_id})} +'\''">




                                    <div class="coment">
                                        <div class="user">
                                            <p th:text="${obj.response_name}"></p>
                                        </div>
                                    </div>



                                    <div class="Content">
                                        <div class="douga">



                                            <div class="samneiru">
                                                <!-- 動画のサムネ画像 -->
                                                <img th:src="${obj.thumbnail}" alt="">
                                            </div>


                                            <div class="con23">
                                                <div class="content2">
                                                    <p class="titl" th:text="${obj.movie_name}"></p>
                                                </div>
                                                <!-- <button th:attr="onClick='location.href=\' '+ @{/Hiroba/delete_response?response_creater={response_creater}&response_id={response_id} (response_creater=${obj.user_id},response_id=${obj.response_id})} + '\''">
                                                    投稿削除
                                                </button> -->
                                            </div>
                                        </div>

                                        <div class="content3">


                                            <div class="come ine">
                                                <p class="iine">いいね</p>
                                                <span th:text="${obj.like}"></span>
                                            </div>

                                            <div class="come kyou">
                                                <p class="iine2">共有</p>
                                                <span th:text="${obj.share}"></span>
                                            </div>

                                            <div class="come">
                                                <!-- 削除？ -->
                                            </div>

                                        </div>

                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- PC番 (削除予定) -->
                <!-- 投稿作成画面　　ポップアップ -->
                <div class="modal container">
                    <div class="modal__container" id="modal-container">

                        <div class="modal__content">


                            <!-- 中身 -->
                            <div class="fka"><button class="modal__button modal__button-width close-modal">X</button>
                            </div>

                            <!-- 中身 -->
                            <div class="modalTitle nunu">
                                <h2 class="">投稿するものを選択してください</h2>
                            </div>
                            <div class="modalTitle nunu">
                                <h2 class="h2come j3">動画共有</h2>
                                <h2 class="h2come j4">スレッド作成</h2>
                            </div>
                            <div class="modalMain tweet-1 sure_kyouyu">
            
                                <!-- 内容 -->
                                <div class="formbox">
                                    <div class="stronger">投稿画面</div>
                                    <div class="formbody">

                                        <form th:object="${responseCreateForm}" th:action="@{/response_creater}">
                                            <p>
                                                <!-- 動画URLの入力 -->
                                                <input type="text" class="formelem maxwidth url" id="url-pc"
                                                    placeholder="動画URL" size="70" th:field="*{url}" minlength="11"
                                                    required>

                                                <!-- コメントの入力 -->
                                                <textarea class="formelem maxwidth" placeholder="コメント" rows="5"
                                                    cols="50" wrap="off" th:field="*{response_name}" maxlength="200"
                                                    required></textarea>

                                                <input type="hidden" name="user_id"
                                                    th:value="${session.sessionData.user_id}">

                                                <input id="send" class="submitbtn tweebtn" type="submit"></input>
                                            </p>
                                        </form>

                                    </div>
                                </div>

                                <div class="formbox">
                                    <div class="stronger">動画プレビュー</div>
                                    <div class="formbody preview">
                                        <!-- https://www.youtube.com/embed/IJBHpgxVPXI -->
                                        <iframe class="video-player b" width="560" height="315" src=""
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
            
                            <div class="modelMain sure_sesaku">
            
            
                                <div class="formbox">
                                    <div class="stronger">スレッド作成画面</div>
                                    <div class="formbody">
                                        <form method="post">
                                            <p>
            
                                                <select class="formelem maxwidth" required>
                                                    <option value="">ジャンルを選択してください</option>
            
            
                                                    <option></option>
            
                                                </select>
            
                                                <textarea class="formelem maxwidth" placeholder="コメント" rows="5" cols="70" wrap="off"
                                                    maxlength="200" required></textarea>
            
                                                <input class="submitbtn tweebtn" type="submit" value="スレッド作成" name="submit">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- タイムライン終わり -->
            </div>


            <!-- 通知エリア（右） -->
            <div class="side" th:replace="~{commons/layout :: side}"></div>
        </div>
    </main>

    <script th:src="@{/js/pop.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
    <script th:src="@{/js/hover1.js}"></script>
    <script th:src="@{/js/ajax.js}"></script>

    <script th:src="@{/js/hum.js}"></script>
</body>

</html>