<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commons/layout :: cssjs}"></th:block>

    <link rel="stylesheet" th:href="@{/css/mypage.css}" media="screen and (min-width: 767px)">
    <link rel="stylesheet" th:href="@{/css/mobile/m-mypage.css}" media="screen and (max-width: 768px)">

    <link rel="stylesheet" th:href="@{/css/videoLyout-mypage.css}" media="screen and (min-width: 767px)">
    <link rel="stylesheet" th:href="@{/css/mobile/m-videoLyout-mypage.css}" media="screen and (max-width: 768px)">
</head>

<body>
    <!-- pc左バー 　　　＆スマホ上ヘッド＆　　PC版popup内容　　-->
    <div th:replace="~{commons/layout :: header}"></div>
    <main>
        <div class="moto">
            <div class="center">

                <!-- PC上ヘッダー 　＆スマホ下フッド＆　　スマホ版popup内容　　-->
                <th:block th:replace="~{commons/layout :: humber-nemu}"></th:block>

                <!-- 中央 -->
                <div class="kari cent-1">
                    
                    <!-- マイページ　上のカード -->
                    <div class="mypage-back">

                        <div class="warlpa">

                            <div class="prof">
                                <p>--------　　MY PROFILE　　--------</p>
                            </div>

                            <div class="search-up">

                                <!-- 顔 -->
                                <div class="up-1">

                                    <div class="follw-my-icon">
                                        <img th:src="${list.icon}">
                                    </div>

                                    <div class="mypage-name">
                                        <p id="naaaame" th:text="${list.user_name}"></p>
                                        <p th:text="${list.search_name}"></p>
                                    </div>


                                </div>

                                <!-- 文章 -->
                                <div class="up-2">



                                    <!-- フォロー　プロフィール編集 -->
                                    <div class="follow-btn1">


                                        <!-- 登録ジャンル -->
                                        <div class="mypage-janru">
                                            <th:block th:unless="${#lists.isEmpty(jenreAll)}">
                                                <th:block th:each="obj:${jenreAll}">
                                                    <a href="" th:text="${obj.jenre_name}"></a>
                                                </th:block>
                                            </th:block>
                                        </div>



                                    </div>

                                    <!-- 一言コメント -->
                                    <div class="my-page-coment">
                                        <p th:text="${list.introduction}"></p>
                                    </div>

                                    <!-- 上点線 -->
                                    <!-- <div class="my-page-coment-2">
                                        <p>　</p>
                                    </div> -->

                                    <!-- 数字 -->
                                    <div class="mypage-suji">

                                        <div class="sa1">
                                            <p class="folo">フォロー</p>
                                            <p><a
                                                    th:href="@{/followerListViewer?user_id={user_id} (user_id=${user_id})}">
                                                    [[${follow.follower}]]
                                                </a></p>

                                        </div>
                                        <div class="sa2">
                                            <p class="folo">フォロワー</p>
                                            <p><a th:href="@{/followerListViewer?user_id={user_id} (user_id=${user_id})}">
                                                [[${follower.follower}]]
                                            </a></p>
                                        </div>


                                        <p id="foorowa2">
                                            
                                        </p>
                                        <th:block th:unless="${login}==${list.user_id}">
                                            <th:block th:if="${checkFollow}==0">
                                                <button id="tt1"
                                                    th:attr="onClick='location.href=\''+ @{/follow?user_id={user_id}&check_follow=0 (user_id=${list.user_id})} +'\''">フォロー</button>
                                            </th:block>
                                            <th:block th:if="${checkFollow}==1">
                                                <button id="tt2"
                                                    th:attr="onClick='location.href=\''+ @{/follow?user_id={user_id}&check_follow=1 (user_id=${list.user_id})} +'\''">フォロー解除</button>
                                            </th:block>
                                        </th:block>
                                    </div>
                                    <th:block th:if="${login}==${list.user_id}">
                                        <button class="tt3"
                                            th:attr="onClick='location.href=\''+ @{/edit?user_id={user_id} (user_id=${list.user_id})} +'\''">編集</button>
                                    </th:block>




                                </div>
                            </div>

                            <div class="start-data">
                                <p>登録日：<span>2020年1月26日　　</span><span>投稿数：[[${responseCount.submitcount}]]</span></p>
                            </div>


                        </div>


                    </div>

                    <!-- pickup -->
                    <div class="search-cent">
                        <div class="cent-2 container">

                            <div class="dwon-ex2 ggf">

                                <ul class="pick-list">
                                    <li class="news-item" th:each="loop : ${favoriteMovieList}">

                                        <th:block th:if="${login}==${list.user_id}">
                                            <a th:href="@{/favoriteMovie?user_id={user_id}&movie_id={movie_id}&check=1 (user_id=${loop.user_id}, movie_id=${loop.movie_id})}"
                                                class="example">解除</a>
                                        </th:block>

                                        <div class="news-item-container">
                                            <div class="image-wrapper">
                                                <img th:src="${loop.thumbnail}" alt="">
                                            </div>


                                            <div class="text">
                                                <div class="title"><span
                                                        class="text text-overflow">[[${loop.movie_name}]]</span></div>
                                            </div>


                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <!-- 投稿動画 -->
                    <div class="search-dwon">
                        <div class="dwon-1">
                            <p>並び替え</p>
                            <p>投稿削除</p>
                        </div>


                        <div class="dwon-ex2 ">

                            <ul class="pick-list down">
                                <li class="news-item" th:each=" loop : ${myResponseList}">
                                    <button
                                        th:attr="onClick='location.href=\''+ @{/Hiroba/RessDetail/{url}?&user_id={user_id}&response_id={response_id} (url=${loop.url}, user_id=${loop.user_id}, response_id=${loop.response_id})} +'\''">

                                        <div class="news-item-container">





                                            <!-- 画像 -->
                                            <div class="image-wrapper">

                                                <th:block th:if="${loop.response_name}=='この投稿は共有されたものです'">

                                                    <div class="text retui">
                                                        <!--変更02/04 <div class="title"><span
                                                            class="text text-overflow">[[${loop.response_name}]]</span>
                                                    </div> -->
                                                        <div class="title"><span class="text text-overflow">共有</span>
                                                        </div>

                                                    </div>
                                                </th:block>
                                                <!-- time -->
                                                <div class="video-time-labe">
                                                    <p>10:25</p>
                                                </div>
                                                <img th:src="${loop.thumbnail}" alt="">
                                            </div>
                                            <!-- お気に -->
                                            <th:block th:if="${login}==${list.user_id}">
                                                <a th:href="@{/favoriteMovie?user_id={user_id}&movie_id={movie_id}&check=0 (user_id=${loop.user_id}, movie_id=${loop.movie_id})}"
                                                    class="example">お気に入り登録</a>
                                            </th:block>

                                            <!-- 削除 -->
                                            <th:block th:if="${login}==${list.user_id}">
                                                <a th:href="@{/Hiroba/delete_response/Hiroba?response_creater={user_id}&response_id={response_id}&thread_id=null (user_id=${loop.user_id},response_id=${loop.response_id})}"
                                                    class="example">投稿を削除</a>
                                            </th:block>

                                            <!-- タイトル -->
                                            <div class="text">
                                                <div class="title"><span
                                                        class="text text-overflow">[[${loop.movie_name}]]</span></div>
                                            </div>





                                        </div>
                                    </button>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
            <!--通知エリア（右） -->
            <div class="side" th:replace="~{commons/layout :: side}"></div>

        </div>
        <footer>
            <p id="lasrrt">Copyright © 2023 -- 一般社団法人阿部情報大臣湯沢支部 All Rights Reserved </p>
        </footer>

        <!-- <button class="modal__button create-sa" id="open-modal">投稿</button> -->
        <button id="scroll-to-top-btn">↑</button>

    </main>
    <script th:src="@{/js/hum.js}"></script>
    <script src="js/pop.js"></script>
    <script src="js/scroll.js"></script>
</body>

</html>