<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- コピペ111 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>卒業テスト</title>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <link rel="icon" th:href="@{/img/ファビコン/favicon.ico}">
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />


    <link rel="stylesheet" th:href="@{/css/List_Janru.css}" />


    <link rel="stylesheet" th:href="@{/reset/ress.min.css}" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <!-- /111 -->
</head>

<body>

    <header th:replace="~{commons/layout :: header}"></header>


    <main>


        <!-- <div class="head">
            <p>Echo</p>
        </div> -->
        <div class="moto">
            <div class="center">


                <div class="head">
                    <p>Echo</p>
                </div>



                <div class="motto-tit">

                    <!-- タイトル 　-->
                    <div class="label_ja1 text-overflow">
                        <p th:text="${title}"></p>
                    </div>



                    <div class="crtl-box">

                        <!-- なんとか順 -->
                        <div class="List_ja">
                            <!-- スレッド検索 -->
                            <div class="waku1">
                                <div id="search_thread">
                                    <form th:action="@{/Hiroba/SearchThread}">
                                        <p>検索:<input type="text" name="search_word" placeholder="スレッドの検索" required style="border: 1px solid;"></p>
                                        <input id="search-button" type="submit" value="検索">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- スレ一覧 -->
                <div class="motto-list">


                    <!-- スレッド検索の一覧 -->
                    <th:block th:unless="${#lists.isEmpty(searchThread)}">
                        <li class="content_ja" th:each="obj:${searchThread}" th:object="${obj}">
                            <th:block th:replace="~{commons/layout :: thread_content}"></th:block>
                        </li>
                    </th:block>

                    <th:block th:if="${#lists.isEmpty(searchThread)}">
                        <p>スレッドが見つかりませんでした...</p>
                    </th:block>

                </div>



            </div>


            <!-- 通知エリア（右） -->
            <div class="side" th:replace="~{commons/layout :: side}"></div>
            <!-- /*通知エリア*/ -->

        </div>
        <footer th:replace="~{commons/layout :: footer}"></footer>

        <script th:src="@{/js/threadList.js}"></script>
    </main>


</body>

</html>